body {
    background: #000;
    color: #CCC;
    font-family: Minecraft;
}

canvas {
    margin: 0px auto;
}

h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #3C0;
    padding-bottom: 5px;
}

p {
    margin: 10px auto;
    text-align: center;
}

a {
    text-decoration: none;
    color: #CFC;
}

@font-face {
    font-family: Minecraft;
    src: url('Minecraft.ttf');
}